.editor {
    position: absolute;
    top: 50px;
    right: 0;
    height: 50%;
    left: 0;
}

.tablinks{

}

.tabcontent{

}

.languageselect{

}

.console{
    background: black;
    position: absolute;
    top: 70%;
    right: 0;
    height: 30%;
    left: 0;
}